# /etc/systemd/system/report-failure@.service
[Unit]
Description=Notify failure of %i.service 

[Service]
Type=oneshot
ExecStart=/usr/bin/report-error.sh "%i"
